.col-form-label{
    //font-size: 25px;
   margin-right: 4.5%;
}

.form-control{
    margin-right: 1.5%;
   width: 5%;
}

.form-group{
    margin-bottom: 1%;
}

.radio-control{
    width: auto;
    border-color: gray;
    border-style: solid;
    border-width: 0.1px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

#project-first{
   position: relative;
}
